
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
  width: 100vw;
  z-index: -1;
  
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: hidden;
  
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 10vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom,  #fff 0%, var(--accent-color) 100%);
  animation: drop 4s 0s infinite;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -50%;
}
.line:nth-child(1)::after {
  animation-delay: 1s;
}

.line:nth-child(2) {
  margin-left: -30%;
}
.line:nth-child(2)::after {
  animation-delay: 0.3s;
}

.line:nth-child(3) {
  margin-left: -10%;
}
.line:nth-child(3)::after {
  animation-delay: 3s;
}

.line:nth-child(4) {
  margin-left: 20%;
}
.line:nth-child(4)::after {
  animation-delay: 1.8s;
}

.line:nth-child(5) {
  margin-left: 40%;
}
.line:nth-child(5)::after {
  animation-delay: 4s;
}


@keyframes drop {
  0% {
    top: -10%;
  }
  100% {
    top: 120%;
  }
}

@media (max-width: 768px){
  .line::after{
    height: 5vh;
  }
}
