.contactButton {
  position: fixed;
  top: 1.5rem;
  right: 0rem;
  background-color: var(--accent-color, #f0a500);
  color: var(--bg-color, #fff);
  border: none;
  padding: 0.75rem 3rem .75rem 1.15rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
}

.contactButton:hover {
  background-color: #e29500;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}


@media (max-width: 768px){
  .contactButton{
    display: none;
  }

  .cButton{
    display: none;
  }
}
