.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #122431;
  color: #fff;
  box-sizing: border-box;
  border-right: 1px solid var(--text-color);
}

.sidebarContent {
  display: flex;
  flex-direction: column;
}


.sidebarTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 2rem 1rem 1rem;
}
 .logoDot{
  color: var(--accent-color);
 }

.sidebarNav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding-right: 2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 1rem 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0 6px 6px 0;
  transition: background 0.3s, color 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.sidebar a svg {
  font-size: 1.2rem;
}

.sidebarFooter {
  font-size: .75rem;
  color: #aaa;
  text-align: center;
}

.hiddenSocial{
  display: none;
}

.mobileSocials {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
  gap: 1rem;
}

.mobileSocials li a {
  color: var(--accent-color);
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

.mobileSocials li a:hover {
  color: var(--accent-color);
  border-radius: 6px;
}


/*Mobile*/

/* Hamburger button for mobile */
.hamburger {
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 999;
  font-size: 1.8rem;
  background: none;
  color: var(--accent-color);
  border: none;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 998;
    padding: 1rem 0;
  }
  .sidebarNav {
  justify-content: flex-start; 
  margin-top: 3rem;
  padding-right: 2rem;
}

  .sidebar.open {
    transform: translateX(0);
  }


  .sidebarFooter {
  font-size: .75rem;
}

.hiddenSocial{
  display: block;
}


}
