.socials {
  position: fixed;
  bottom: 1.3rem;
  right: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.socials a {
  font-size: 1.4rem;
  color: var(--accent-color);
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #0077b5;
}


@media (max-width: 768px){
  .socials{
    display: none;
  }
}
